<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Song Details</title>
</head>
<body>
<header>
    <h1 th:text="'Title: ' + ${song.title}"></h1>
</header>
<section>
    <h2 th:text="'Genre: ' + ${song.genre}"></h2>
    <h2 th:text="'Release Year: ' + ${song.releaseYear}"></h2>
    <h2 th:text="'Album: ' + ${song.album.getName()}"></h2>
    <h2>Performers:</h2>
    <ul>
        <li th:each="artist : ${song.performers}">
            <span th:text="${artist.firstName} + ' ' + ${artist.lastName}">Artist Name</span>
        </li>
    </ul>
</section>

</body>
</html>
